# Change the values below for your project. The values are used in the `compose.yaml` file.

DB_ROOT_PASSWORD: somewordpress
DB_NAME: wordpress
DB_USER: wordpress
DB_PASSWORD: wordpress
DB_PORT: 3306
FULL_LOCAL_PATH: /Users/Name/Projects/Websites/yourdomain.localhost
VIRTUAL_HOST: yourdomain.localhost
